<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <autofac>
    <components>
      <!--<component type="Askmentor.Service.AccountService,Askmentor.Service" service="Askmentor.Core.Service.IAccountService,Askmentor.Core.Service" />-->
      <!--<component type="Askmentor.Repository.AccountRepository, Askmentor.Repository" service="Askmentor.Core.Repository.IAccountRepository, SoftwareGroup.Mirrors.Core" />-->
      <!--<component type="SoftwareGroup.Mirrors.Infra.Log4NetLogger, SoftwareGroup.Mirrors.Infra" service="SoftwareGroup.Mirrors.Core.ILogger, SoftwareGroup.Mirrors.Core" instance-scope="single-instance" />-->
    </components>
  </autofac>

</configuration>